<footer class="bg-dark text-white text-center text-lg-start" id="footer">
    <!-- Grid container -->
    <div class="container p-4">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-12 col-md-12 mb-4 mb-md">
                <h5 class="text-uppercase text-center text-decoration-underline">Meeting Rooms</h5>
                <p>
                Bienvenue sur le site Meeting Rooms de l'Université Toulouse I Capitole. Ce site a pour but de simplifier la réservation de créneaux de salle de rendez-vous au sein de l'université pour les différents enseignants-chercheurs de l'UFR Informatique.
                </p>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        <a class="text-white" href="{{ path('homepage') }}">Meeting Rooms</a>
        © 2021
    </div>
    <!-- Copyright -->
</footer>