.myform{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 1.1rem;
    outline: 0;
    max-width: 500px;
}

.mybtn{
    border-radius:50px;
}

a, form a:visited{
    text-decoration: none;
    color: inherit;
}

.avatar {
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;
}

.avatar-micro {
    max-width: 20px;
    max-height: 20px;
}

.avatar-mini{
    max-width: 24px;
    max-height: 24px;
}

.avatar-medium {
    max-width: 64px;
    max-height: 64px;
}

.avatar-maxi {
    max-width: 256px;
    max-height: 256px;
}

/**


 */

* {
    box-sizing: border-box;
}

.video-container {
    position: relative;
}

video{
    height: auto;
    vertical-align: middle;
    width: 100%;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

.overlay-desc {
    background: rgba(0,0,0,0);
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay-desc > h1{
    color: white;
    font-family: 'Nobile', sans-serif;
    font-size: 3em;
    text-align: center;
}

.overlay-desc > img{
    position:absolute;
    margin: 0 auto;
    width: 200px;
    padding-bottom: 350px;
}

::-webkit-scrollbar{
    width: 5px;
    background-color: #EEEEEE;
}

::-webkit-scrollbar-thumb {
    background-color: #3498DB;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #3498DB;
    border: 1px solid #3498DB;
}

::-webkit-scrollbar-thumb:active {
    background-color: #3498DB;
    border: 1px solid #3498DB;
}
