<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
<div class="container">
    <div class="row">
        <h1 class="text-center my-5">Réinitialisation de votre mot de passe</h1>
        <p>Bonjour, {{ firstName }},</p>
        <p>Il semblerait que vous ayez demandé une réinitialisation de votre mot de passe sur le site MeetingRooms</p>
        <p>Pour effectuer ce changement, veuillez cliquer sur bouton ci-dessous ou cliquez sur l'adresse en bas de page.</p>
        <p class="text-capitalize small">Si vous n'avez pas demandé de réinitialisation de mot de passe, veuillez ignorer ce message.</p>
        <a href="{{ absolute_url(path('reset_password', {'token': token}))  }}" class="text-center mt-5 mb-3"><button class="btn btn-dark">Changer mon mot de passe</button></a>
        <a href="{{ absolute_url(path('reset_password', {'token': token}))  }}" class="text-center small">{{ absolute_url(path('reset_password', {'token': token}))  }}</a>
    </div>
</div>
</body>
</html>

