{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="text-center mt-5">Logiciel de réservation de salles</h1>
    </div>

{% endblock %}
