{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <div class="video-container">
        <video loop muted autoplay width="100%" height="100%" >
            <source src="/assets/img/video.mp4" type="video/mp4">
        </video>

        <div class="overlay-desc">
            <img src="/assets/img/logo.png" alt="Logo de l'Université Toulouse I Capitole">
            <h1>Logiciel de réservation de salles</h1>
        </div>
    </div>


    {#    <div class="video-background-holder">
        <div class="video-background-overlay"></div>
        <video playsinline="playsinline" height="100%" width="100%" autoplay="autoplay" muted="muted" loop="loop">
            <source src="https://huykhong.com/codepen/landing.video.mp4" type="video/mp4">

        </video><!-- end video source-->

        <div class="video-background-content container h-100">
            <div class="d-flex h-100 text-center align-items-center">
                <div class="w-100 text-white">
                    <h1 class="display-4">Landing Page with video background</h1>
                    <p class="lead mb-0">Made with HTML5 and Bootstrap 4</p>
                    <p class="lead">
                        <a href="#" class="btn btn-light">Click Here to Enter</a>
                    </p>
                </div>
            </div><!-- end text/button area -->
        </div>
    </div><!-- end video-background-overlay-->


    #}



{% endblock %}