{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <div class="container mt-5 pt-5">
        <div class="text-center">
            <img src="/assets/img/logo.png" class="avatar-maxi" alt="Logo de l'Université Toulouse I Capitole">
        </div>

        <h1 class="text-center">Logiciel de réservation de salles</h1>

    </div>


{% endblock %}